<p>
    Weather in
    {{ city }}:
    {{ weather_status }}<br>
<ul>
    <li>Temperature:
        {{temp_c}}
        &degC
    </li>
    <li>Wind:
        {{wind_speed}}
        km/h (
        {{wind_dir}}
        )</li>
    <li>Atmospheric pressure:
        {{atm_press}}
        mmHg</li>
    <li>Humidity:
        {{humidity}}
        %</li>
</ul>
</p>